main {
    background: #ddd;
    height: 100vh;
}

.logged-in {
    border-color: #63d3f3;
    color: #24c4ea;
}

.media-container {
    align-items: center;
    background-color: #eee;
    cursor: pointer;
    display: flex;
    margin: 20px;
    max-height: 20vh;
    padding: 15px;
}

.media-container img {
    height: auto;
    width: 100%;
}

.media-container.small {
    max-width: 10vw;
}

.media-container.medium {
    max-width: 20vw;
}

.media-container.full {
    max-width: none;
}

/*
.media-link {
    display: block;
    max-width: 100%
}
*/

.media-manager-table-label {
    color: #f42fff;
}

.media-manager-table-value {
    color: #dfe7e8;
}

.not-logged-in {
    border-color: #fb1c85;
    color: #b4bcc3;
}

#current-user {
    background-color: #dee4ef;
    border-radius: 100px;
    border-style: solid;
    border-width: 1px;
    font-weight: bold;
    margin-left: 20px;
    padding: 3.5px
}

#head-nav {
    background-color: #b387e4;
    padding: .75vh .5vw;
}

#glom-view {
    height: auto;
}

#media-manager-table {
    border-collapse: separate;
    border-spacing: 6px;
}

#open-settings {
    cursor: pointer;
    margin-left: 20px;
    margin-right: 20px;
}

#tag-search {
    min-width: 20vw;
}
